<p id="notice"><%= notice %></p>

<h1>야시장-가게페이지(/market/shop)</h1>

<h1><%= @shop.name %></h1>

---------------------- 가게 사진 칸 ----------------------
<p>사진</p>

---------------------- 가게 정보 설명 칸 ----------------------
<p>
  <strong>소속</strong>
  <%= @shop.market.name %><br>

  <strong>영업시간</strong>
  <%= @shop.open %><br>

  <strong>전화번호</strong>
  <%= @shop.tel %><br>

  <%= link_to 'Edit', edit_shop_path(@shop) %> |
  <%= link_to 'Back', shops_path %>
</p>

---------------------- 메뉴 목록 칸 ----------------------
<p>
  <table>
    <thead>
      <tr>
        <th>사진</th>
        <th>이름</th>
        <th>가격</th>
        <th>부가설명(자유)</th>
        <th><%= link_to 'New', new_shop_path %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @shop.menus.each do |menu| %>
        <tr>
          <td>사진</td>
          <td><%= menu.name %></td>
          <td><%= menu.price %></td>
          <td><%= menu.content %></td>
          <td><%= link_to 'Show', menu %></td>
          <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
          <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

---------------------- 후기 목록 칸 ----------------------
<p>
  <table>
    <thead>
      <tr>
        <th>제목</th>
        <th>내용</th>
        <th>별점</th>
        <th>날짜</th>
        <th><%= link_to 'New', new_shop_path %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @shop.shop_reviews.each do |shop_review| %>
        <tr>
          <td><%= shop_review.title %></td>
          <td><%= shop_review.content %></td>
          <td><%= shop_review.rate %></td>
          <td><%= shop_review.date %></td>
          <td><%= link_to 'Show', shop_review %></td>
          <td><%= link_to 'Edit', edit_shop_review_path(shop_review) %></td>
          <td><%= link_to 'Destroy', shop_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to '전체 후기 보러가기', shop_reviews_path %>
</p>
