<p id="notice"><%= notice %></p>

<h1><%= @shop.name %></h1>

<p>사진</p><hr>

<p>
  <strong>소속</strong>
  <%= @shop.market.name %><br>

  <strong>영업시간</strong>
  <%= @shop.open %><br>

  <strong>전화번호</strong>
  <%= @shop.tel %><br>
</p><hr>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %><hr>

<p>
  메뉴목록(사진이랑 설명, 없으면 요기요 대체 사진)
  <table>
    <thead>
      <tr>
        <th>사진</th>
        <th>이름</th>
        <th>가격</th>
        <th>부가설명(자유)</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @shop.menus.each do |menu| %>
        <tr>
          <td>사진</td>
          <td><%= menu.name %></td>
          <td><%= menu.price %></td>
          <td><%= menu.content %></td>
          <td><%= link_to 'Show', menu %></td>
          <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
          <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p><hr>

<p>전체 후기 중 best 3 정도, 전체 평점</p>
