<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @shop_review.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @shop_review.content %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @shop_review.rate %>
</p>

<p>
  <strong>Date:</strong>
  <%= @shop_review.date %>
</p>

<%= link_to 'Edit', edit_shop_review_path(@shop_review) %> |
<%= link_to 'Back', shop_reviews_path %>
