<p id="notice"><%= notice %></p>

<h1>야시장-지역별(/market/locate)</h1>

<%# TODO: 지도 api 추가하기 %>
<p>지도 api</p>

<%# TODO: 지역 검색 부분 추가하기 %>
<p>지역 검색 부분</p>

<table>
  <thead>
    <tr>
      <th>시/도</th>
      <th>구/군</th>
      <th>야시장 이름</th>
      <th>상세주소</th>
      <th>전화번호</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @markets.each do |market| %>
      <tr>
        <td><%= market.locate1 %></td>
        <td><%= market.locate2 %></td>
        <td><%= market.name %></td>
        <td><%= market.address %></td>
        <td><%= market.tel %></td>
        <td><%= link_to '보기', market %></td>
        <td><%= link_to '수정', edit_market_path(market) %></td>
        <td><%= link_to '삭제', market, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '새 야시장 추가하기', new_market_path %>
