<!DOCTYPE html>
<html>
  <head>
    <title>Fuya</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# TODO: 로그인, 회원가입, 고객센터, 업주문의 링크 채우기 %>

    <%= link_to '로그인', '#' %>
    <%= link_to '회원가입', '#' %>
    <%= link_to '고객센터', '#' %>

    <br>

    <%= link_to '야시장 찾기(지역별)', '/markets' %>
    <%= link_to '야시장 후기', '/market_reviews' %>
    <%= link_to '업주문의', '#' %>
    <%= yield %>
  </body>
</html>
